{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png'%}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png'%}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png'%}">
	<link rel="manifest" href="{% static 'img/site.webmanifest'%}">
	<link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg'%}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<div id='header'>
		<span class="logo">Bookmarks</span>
		{% if request.user.is_authenticated %}
			<ul class="menu">
				<li {% if section == "dashboard" %} class='selected'{% endif %}>
					<a href="{% url 'dashboard' %}">My dashboard</a>
				</li>
				<li {% if section == "images" %} class='selected'{% endif %}>
					<a href"#">images</a>
				</li>
				<li {% if section == "people" %} class='selected'{% endif %}>
					<a href"#">people</a>
				</li>
			</ul>
		{% endif %}
		<span class="user">
			{% if request.user.is_authenticated %}
				Hello {{ request.user.first_name|default:request.user.username }},
				<a href="{% url 'logout' %}">Logout</a>
			{% else %}
				<a href="{% url 'login' %}">Log-in</a>
			{% endif %}
		</span>
	</div>
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li class="{{ message.tags }}">
					{{ message|safe }}
					<a href="#" class="close">x</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<div id='content'>
		{% block content %}
		{% endblock content %}
	</div>

	<script>
		document.addEventListener('DOMContentLoaded',(event)=>{
			//DOM loaded
			{% block domready %}
			{% endblock domready %}
		})
	</script>
</body>
</html>